body {
  overflow-x: hidden;
}
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 1em;
  position: absolute;
  overflow: hidden;
  z-index: 15;

  .navbar-upper {
    display: flex;
    gap: 1em;
    padding-top: 5px;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 15;

    .contact {
      border-radius: 6px;
      padding: 2px 6px 2px 6px;
      font-size: 0.95em;
    }
  }
  .resume {
    border-radius: 6px;
    padding: 2px 6px 2px 6px;
    font-size: 1.2em;
  }
  .title {
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    margin-bottom: 6px;
  }
}
.switch {
  display: flex;
  justify-content: flex-start;
  padding: 6px;
  width: 5em;
  cursor: pointer;
}

.switch[data-on="true"] {
  justify-content: flex-end;
}

.hero {
  background-color: #000810;
}

.handle {
  width: 2em;
  height: 2em;
  background-color: #ffffff;
  border-radius: 40px;

  svg {
    size: 1500px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 5px;
  align-items: center;
  width: 41px;
}

.content {
  display: flex;
  width: 41px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
  line-height: 1em;
  height: 31px;
  overflow: hidden;
}

.content-screen {
  display: flex;
  width: 41px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
  line-height: 1em;
  height: 50px;
  overflow: visible;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1920px) {
  .wrapper-screen {
    padding: 10px;
    overflow: visible;
    transform: scaleX(0.142) scaleY(0.142) scaleZ(0.142);
  }

  .social {
    position: absolute;
    top: 0;
    right: 0;
  }
  .paragraph {
    margin-left: 1em;
    width: max-content;
    white-space: wrap;
  }
}

@media (max-width: 1600px) {
  .wrapper-screen {
    padding: 10px;

    border-radius: 32px 6px 32px 6px;
    overflow: visible;
    transform: scaleX(0.1) scaleY(0.1) scaleZ(0.1);
  }
}

@media (max-width: 480px) {
  .footer {
    visibility: hidden;
  }
  .information {
    max-width: 85vw;
  }
  .social {
    position: absolute;
    bottom: 0.5em;
    right: 0em;
    top: auto;
  }
  .paragraph {
    white-space: normal;
    width: 95%;
  }
}

.loader {
  display: flex;
  color: white;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

#three-canvas {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 8%2c 16%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1038'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1037'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1033'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1035'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1036'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1034'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1039'%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='30' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='30' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='90' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='90' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='90' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='150' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='210' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='210' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='210' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='270' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='270' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='270' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='270' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='330' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='330' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='330' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='330' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='390' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='390' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='390' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='450' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='450' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='450' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='450' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='510' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='510' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='510' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='570' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='570' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='570' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='630' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='690' y='30' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='90' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='150' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='210' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='270' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='690' y='330' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='390' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='450' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='690' y='510' stroke='rgba(127%2c 117%2c 117%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='570' stroke='rgba(127%2c 117%2c 117%2c 1)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-size: cover;
}
