@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gameover";
  src: url("/fonts/gameboy-webfont.woff2") format("woff2"),
    url("/fonts/gameboy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans.ttf") format("truetype");
}
